{% extends "CrowdriseAdministrationBundle::layout.html.twig" %}

{% block nav_li_dash %}
<li><a href="{{path('crowdrise_administration_homepage')}}"><span>Dashboard</span> <i class="icon-screen2"></i></a></li>
{% endblock %}
       
{% block nav_li_projects %}
<li class="active"><a href="{{path('crowdrise_administration_projects')}}"><span>Projects</span> <i class="icon-stackoverflow"></i></a> </li>
{% endblock %}


{% block pagecontent %}
    
    
  <!-- Page content -->


  <div class="page-content">
    <!-- Page header -->
    <div class="page-header">
      <div class="page-title">
        <h3>Projects <small>Projects managment</small></h3>
      </div>
      <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle"><a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a></div>
        <div class="date-range"></div>
        <span class="label label-danger">9</span></div>
    </div>
    <!-- /page header -->

    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Projects</li>
      </ul>

   
    </div>
    <!-- /breadcrumbs line -->



    <!-- Page tabs -->
    <div class="tabbable page-tabs">

      <div class="tab-content">

        <!-- Third tab -->
        <div class="active" id="list-view">
          <!-- Table view -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title"><i class="icon-stackoverflow"></i> Projects List</h5>
              <span class="label label-danger pull-right">+23</span> </div>
            <div class="datatable-media">
              <table class="table table-bordered table-striped">


                <thead>

                  <tr>
                    <th class="image-column">Project</th>
                    <th>Description</th>
                    <th>Submission Date</th>
                    <th>Project Info</th>
                    <th class="team-links">Actions</th>
                  </tr>

                </thead>


                <tbody>
                    
                    
                 
                {% for p in projets %}

                  <tr>                    
                        
                      <td class="text-semibold"><a>{{p.intituleProjet}}</a></td>
                    
                    <td class="muted">{{p.descriptionProjet}}</td>

                    <td class="text-semibold">{{p.dateDepotProjet}}</td>


                    <td class="file-info">
                      
                       <span><strong>Submitter :</strong> <a href="#"> {{p.idUtilisateur.username}}</a></span>
                       <span><strong>Category :</strong> {{p.categorieProjet}}</span>
                       <span><strong>Competences needed :</strong> {{p.competencesDemandeProjet}}</span>
                       <span><strong>Key words :</strong> {{p.motcleProjet}}</span>
                       <span><strong>No. of solvers :</strong> {{p.nbsolversProjet}}</span>

                    </td>

                    <td class="text-center"><div class="btn-group">
                        <button type="button" class="btn btn-icon btn-danger dropdown-toggle" data-toggle="dropdown"><i class="icon-cog4"></i></button>
                        <ul class="dropdown-menu icons-right dropdown-menu-right">
                          <li><a href="{{path('crowdrise_administration_delete_project',{'id':p.idProjet})}}"><i class="icon-checkmark3"></i> Delete</a></li>
                          <li><a href="#"><i class="icon-share2"></i> Report</a></li>
       
           
                        </ul>
                      </div></td>


                  </tr>
                    {% endfor %}



                </tbody>


              </table>
            </div>
          </div>
          <!-- /table view -->
        </div>
        <!-- /third tab -->
      </div>
    </div>
    <!-- page tabs -->


    <!-- Footer -->
    <div class="footer clearfix">
      <div class="pull-left">&copy; 2016. Crowdrise Admin by <a href="http://themeforest.net/user/Kopyov">DevX Team</a></div>
      <div class="pull-right icons-group"> <a href="#"><i class="icon-screen2"></i></a> <a href="#"><i class="icon-balance"></i></a> <a href="#"><i class="icon-cog3"></i></a> </div>
    </div>
    <!-- /footer -->
  </div>
  <!-- /page content -->
    
{% endblock %}
