<!DOCTYPE html>
<html lang="en">
    
{% block head %}

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Crowdrise Admin</title>



<link href="{{asset('assets_admin/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('assets_admin/css/londinium-theme.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('assets_admin/css/styles.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{asset('assets_admin/css/icons.min.css')}}" rel="stylesheet" type="text/css">


<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<script type="text/javascript" src="{{asset('assets_admin/js/plugins/charts/sparkline.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/uniform.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/select2.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/inputmask.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/autosize.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/inputlimit.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/listbox.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/multiselect.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/validate.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/tags.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/switch.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/uploader/plupload.full.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/uploader/plupload.queue.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/wysihtml5/wysihtml5.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/forms/wysihtml5/toolbar.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/interface/daterangepicker.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/interface/fancybox.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/interface/moment.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/interface/jgrowl.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/interface/datatables.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/interface/colorpicker.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/interface/fullcalendar.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/interface/timepicker.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/plugins/interface/collapsible.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets_admin/js/application.js')}}"></script>


</head>

{% endblock %}

<body class="sidebar-wide">


{% block navbar %}

<!-- Navbar -->
<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header"><a class="navbar-brand" href="{{path('crowdrise_administration_homepage')}}"><img src="{{asset('assets_admin/images/logo.png')}}" alt="Londinium"></a><a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons"><span class="sr-only">Toggle navbar</span><i class="icon-grid3"></i></button>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar"><span class="sr-only">Toggle navigation</span><i class="icon-paragraph-justify2"></i></button>
  </div>
  <ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">

    <li><a href="#"><i class="icon-exit"></i> Logout</a>
    </li>
  </ul>
</div>


<!-- /navbar -->
{% endblock %}



    
<!-- Page container -->
<div class="page-container">
  <!-- Sidebar -->
  <div class="sidebar collapse">
    <div class="sidebar-content">




      <!-- User dropdown -->
      <div class="user-menu dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{asset('assets_admin/images/demo/users/face1.png')}}" alt="">
        <div class="user-info">Oussama Aydi <span>Administrator</span></div>
        </a>


        <div class="popup dropdown-menu dropdown-menu-right">
          <div class="thumbnail">
            <div class="thumb"><img alt="" src="{{asset('assets_admin/images/demo/users/face1.png')}}">
              <div class="thumb-options"><span><a href="#" class="btn btn-icon btn-success"><i class="icon-pencil"></i></a><a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a></span></div>
            </div>
            <div class="caption text-center">
              <h6>Oussama Aydi <small>Administrator</small></h6>
            </div>
          </div>
  
        </div>
      </div>
      <!-- /user dropdown -->



      <!-- Main navigation -->
      <ul class="navigation">
          
       {% block nav_li_dash %}
        <li class="active"><a href="{{path('crowdrise_administration_homepage')}}"><span>Dashboard</span> <i class="icon-screen2"></i></a></li>
       {% endblock %}
       
       {% block nav_li_users %}
        <li><a href="{{path('crowdrise_administration_users')}}"><span>Users</span> <i class="icon-users2"></i></a></li>
        {% endblock %}
       
       {% block nav_li_ideasreq %}
       <li><a href="{{path('crowdrise_administration_ideas_requests')}}"><span>Ideas Requests</span> <i class="icon-stack"></i></a> </li>
       {% endblock %}
       
       {% block nav_li_projects %}
       <li><a href="{{path('crowdrise_administration_projects')}}"><span>Projects</span> <i class="icon-stackoverflow"></i></a> </li>
       {% endblock %}
       
       {% block nav_li_claims %}
        <li><a href="{{path('crowdrise_administration_claims')}}"><span>Claims</span> <i class="icon-bubble6"></i></a> </li>
       {% endblock %}
         
      </ul>
      <!-- /main navigation -->



    </div>
  </div>
  <!-- /sidebar -->



  
{% block pagecontent %}
  <!-- Page content -->
  <div class="page-content">
      
   {% block pageheader %}   
       
    <!-- Page header -->
    <div class="page-header">
      <div class="page-title">
        <h3>Dashboard <small>Welcome Administrator. This is your managment space.</small></h3>
      </div>
      <div id="reportrange" class="range">
        <div class="visible-xs header-element-toggle"><a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a></div>
        <div class="date-range"></div>
        <span class="label label-danger">9</span></div>
    </div>


    <!-- /page header -->
    {% endblock %}

    
    {% block breadcrumb %}
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">Dashboard</li>
      </ul>
      <div class="visible-xs breadcrumb-toggle"><a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a></div>

    </div>
    <!-- /breadcrumbs line -->
    {% endblock %}


     <!-- Page statistics -->
    <ul class="page-stats list-justified">
      <li class="bg-primary">
        <div class="page-stats-showcase"> <span>No. of Users</span>
          {% block nbusers %}<h2>22</h2>{% endblock %}
        </div>
        <div class="bar-default chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
      </li>


      <li class="bg-danger">
        <div class="page-stats-showcase"> <span>No. of Ideas</span>
          {% block nbideas %}<h2>22</h2>{% endblock %}
        </div>
        <div class="bar-default chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
      </li>


      <li class="bg-success">
        <div class="page-stats-showcase"> <span>No. of Projects</span>
          {% block nbprojects %}<h2>22</h2>{% endblock %}
        </div>
        <div class="bar-default chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
      </li>


      <li class="bg-info">
        <div class="page-stats-showcase"> <span>No. of Claims</span>
          {% block nbclaims %}<h2>22</h2>{% endblock %}
        </div>
        <div class="bar-default chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
      </li>


    </ul>
    <!-- /page statistics -->

    
    
    <!-- Page tabs -->
    <div class="tabbable page-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#activity" data-toggle="tab"><i class="icon-file"></i> Activity</a></li>
        <li><a href="#statistics" data-toggle="tab"><i class="icon-bars"></i> Statistics</a></li>
      </ul>



      <div class="tab-content">


        <!-- First tab -->


        <div class="tab-pane active fade in" id="activity">
 
          <!-- Recent activity -->
          <div class="block">
            <h6 class="heading-hr"><i class="icon-file"></i> Recent Ideas activity</h6>


            <ul class="media-list">

                {% block recentidasactivity %}
                    
              <li class="media"><a class="pull-left" href="#"><img class="media-object" src="{{asset('assets_admin/images/demo/users/face2.png')}}" alt=""></a>
                <div class="media-body">
                  <div class="clearfix"><a href="#" class="media-heading">Mahmoud tabka</a><span class="media-notice">January 10, 2016 / 10:20 pm</span></div>

                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</div>
              </li>
                {% endblock %}


            </ul>
          </div>
                
          
          <div class="block">
            <h6 class="heading-hr"><i class="icon-file"></i> Recent Claims activity</h6>


            <ul class="media-list">

             {% block recentclaimsactivity %}

              <li class="media"><a class="pull-left" href="#"><img class="media-object" src="{{asset('assets_admin/images/demo/users/face2.png')}}" alt=""></a>
                <div class="media-body">
                  <div class="clearfix"><a href="#" class="media-heading">Mahmoud tabka</a><span class="media-notice">January 10, 2016 / 10:20 pm</span></div>

                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</div>
              </li>
          
             {% endblock %}

            </ul>
          </div>
        </div>
        <!-- /first tab -->
        
        
        
        <!-- Secong tab -->
        
        <div class="tab-pane active fade in" id="statistics">
            
            <div class="block">
            <h6 class="heading-hr"><i class="icon-pie"></i> Types Statistics</h6>
            {% block stat1 %} {% endblock %}
            </div>
            
            <div class="block">
            <h6 class="heading-hr"><i class="icon-stats"></i> Ideas Categories Statistics</h6>
            {% block stat2 %} {% endblock %}
            </div>
            
           
            <div class="block">
            <h6 class="heading-hr"><i class="icon-stats"></i> Types Statistics</h6>
            {% block stat3 %} {% endblock %}
            </div>
        </div>

        <!-- /Secong tab -->



      </div>
    </div>
    <!-- /page tabs -->
    <!-- Footer -->
    <div class="footer clearfix">
      <div class="pull-left">&copy; 2016. Crowdrise Admin by <a href="http://themeforest.net/user/Kopyov">DevX Team</a></div>
      <div class="pull-right icons-group"> <a href="#"><i class="icon-screen2"></i></a> <a href="#"><i class="icon-balance"></i></a> <a href="#"><i class="icon-cog3"></i></a> </div>
    </div>
    <!-- /footer -->
  </div>
  <!-- /page content -->
  {% endblock %}
  
  
</div>
<!-- /page container -->

    
</body>
</html>